<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.wichitatourguide">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/plains_keeper_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Restaurants"
            android:label="@string/category_restaurant" />
        <activity
            android:name=".Sights"
            android:label="@string/category_sights" />
        <activity
            android:name=".Chesters"
            android:label="@string/category_chesters" />
        <activity
            android:name=".ScotchSirloin"
            android:label="@string/category_scotchSirloin" />
        <activity
            android:name=".IndianCenter"
            android:label="@string/category_indianCenter" />
        <activity
            android:name=".OldCowtown"
            android:label="@string/category_oldCowtown" />
    </application>

</manifest>